# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / packaging
build/
dist/
yflive.egg-info

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logging
*.log

# Cython debug symbols
cython_debug/